.navbar a{
    display: flex;
    justify-content: flex-end;
    margin-top: 60px;
    margin-right: 250px;
    font-family:'Arial Narrow', Arial;
    justify-content: space-around;
    color: white;
    flex-direction: row-reverse;
    text-align: right;
}

body{
    background-color: #87509c;
}