div#static{
    position: static;
    border: 3px solid black;
    width: 250px;
    height: 250px;
    padding: 20px;
}

div#relative{
    position: relative;
    border: 3px solid black;
    width: 250px;
    height: 250px;
    padding: 20px;
    left: 200px;
    top: 20px;
}
div#fixed{
    position: fixed;
    border: 3px solid black;
    width: 250px;
    height: 250px;
    padding: 20px;
    left: 200px;
}

div#parent{
    position: relative;
    width: 250px;
    height: 250px;
    border: 3px solid black;
}
div#absolute{
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: rgba(27, 85, 27, 0.808);
    right: 80px;
    left: 70px;
    color: wheat;
}
div#sticky{
    position: sticky;
    top: 0;
    background-color: black;
    padding: 20px;
    color: aliceblue;
}