/* #circle{
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    display: none;
} */

#circle{
    width: 100px;
    height: 100px;
    background-color: rgb(102, 255, 0);
    border-radius: 50%;
    position: absolute;
    display: flex;
}